#!/usr/bin/env python
PACKAGE = "turtlebot3_autorace_detect"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("hue_red_l",            int_t,      0,      "hue_red_l",            0,  0, 179)
gen.add("hue_red_h",            int_t,      0,      "hue_red_h",            0,  0, 179)
gen.add("saturation_red_l",     int_t,      0,      "saturation_red_l",     0,  0, 255)
gen.add("saturation_red_h",     int_t,      0,      "saturation_red_h",     0,  0, 255)
gen.add("lightness_red_l",      int_t,      0,      "lightness_red_l",      0,  0, 255)
gen.add("lightness_red_h",      int_t,      0,      "lightness_red_h",      0,  0, 255)

gen.add("hue_yellow_l",         int_t,      0,      "hue_yellow_l",         0,  0, 179)
gen.add("hue_yellow_h",         int_t,      0,      "hue_yellow_h",         0,  0, 179)
gen.add("saturation_yellow_l",  int_t,      0,      "saturation_yellow_l",  0,  0, 255)
gen.add("saturation_yellow_h",  int_t,      0,      "saturation_yellow_h",  0,  0, 255)
gen.add("lightness_yellow_l",   int_t,      0,      "lightness_yellow_l",   0,  0, 255)
gen.add("lightness_yellow_h",   int_t,      0,      "lightness_yellow_h",   0,  0, 255)

gen.add("hue_green_l",          int_t,      0,      "hue_green_l",          0,  0, 179)
gen.add("hue_green_h",          int_t,      0,      "hue_green_h",          0,  0, 179)
gen.add("saturation_green_l",   int_t,      0,      "saturation_green_l",   0,  0, 255)
gen.add("saturation_green_h",   int_t,      0,      "saturation_green_h",   0,  0, 255)
gen.add("lightness_green_l",    int_t,      0,      "lightness_green_l",    0,  0, 255)
gen.add("lightness_green_h",    int_t,      0,      "lightness_green_h",    0,  0, 255)
#NEW WORK
gen.add("minThreshhold",        int_t,      0,      "minThreshhold",        0,  0, 255)
gen.add("maxThreshhold",        int_t,      0,      "maxThreshhold",        0,  0, 255)
gen.add("minArea",              int_t,      0,      "minArea",              0,  0, 1000)
gen.add("maxArea",              int_t,      0,      "maxArea",              0,  0, 1000)
gen.add("minCircularity",       int_t,      0,      "minCircularity",       0,  0, 100)
gen.add("minConvexity",         int_t,      0,      "minConvexity",         0,  0, 100)

exit(gen.generate(PACKAGE, "turtlebot3_autorace_detect", "DetectTrafficLightParams"))
