<launch>
  <arg name="mission" default="traffic_light" doc="mission type [traffic_light, intersection, construction, parking, level_crossing, tunnel]"/>
    
     <!-- Load navigation parameters -->
    <rosparam file="$(find turtlebot3_autorace_core)/../param/costmap_common_params_burger.yaml" command="load"/>
    <rosparam file="$(find turtlebot3_autorace_core)/../param/dwa_local_planner_params_burger.yaml" command="load"/>

    <node pkg="turtlebot3_autorace_core" type="$(arg mission)_core_node_controller" name="$(arg mission)_core_node_controller" output="screen"/>
    <node pkg="turtlebot3_autorace_core" type="$(arg mission)_core_mode_decider" name="$(arg mission)_core_mode_decider" output="screen"/>
</launch>